/*
    #3f51b5
    rgb(220, 0, 78)
*/
h2 {
    color: #1f385c;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: antiquewhite;
    color: #333;
}
h4 {
    margin: 0.5rem 0 0 0;
}

.flex {
    display: flex !important;
    justify-content: space-between;
}
.MuiTabs-flexContainer {
    justify-content: space-around;
}
.MuiFormControl-fullWidth {
    margin-bottom: 30px !important;
}
.MuiInputBase-root {
    letter-spacing: 0.4rem !important;
}
.MuiButton-root {
    padding: 10px 60px !important;
    max-width: 40%;
}
/* NAVBAR STYLES */
.nav-container {
    background-color: #1f385c;

    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo {
    color: wheat !important;
}
.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 0;
    width: 100%;
    background-color: #fff;
}
.nav-link {
    margin: 0 0 0 20px;
    padding: 15px 24px;
    display: block;
    color: #333;
}
.nav-link:hover {
    background-color: rgb(220, 0, 78);
    color: #fff;
}
.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10vw;
}
.user-info img,
.user-info p {
    margin-right: 0.5rem;
    color: #fff;
}
.nav-avatar {
    height: 40px;
    width: 40px;
    border: 1px solid #1f385c;
    border-radius: 10px;
}

.sign-out {
    background-color: rgb(220, 0, 78);
    color: #fff;
    height: 44px;
    width: 8rem;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
/* app container */
.top {
    margin-top: 50px;
}
/* DASHBOARD STYLES */

.dashboard {
    display: block;
    max-width: 80vw;
    margin: 100px auto;
    background-color: #fff;
    color: #1f385c;
    border-radius: 4px;
}

.poll {
    width: 90%;
    margin: 0.5rem auto 0.5rem auto;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 5px;
}

.poll-quest-section,
.poll-image-section {
    text-align: center;
}
.poll-quest-section {
    padding-bottom: 1rem;
}

.poll-image-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* HIDE IMAGES IN MOBILE VIEWS */
.poll-image-section img,
.result-image-section img,
.question-image-section img {
    display: none;
}

.primary-btn {
    width: 80%;
    height: 44px;
    background-color: #1f385c;
    color: #fff;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

.primary-btn:hover:enabled {
    animation: btn-hover 1s ease-in alternate forwards;
}

.primary-btn:disabled {
    background-color: #fff;
    color: #c7c7c7;
    border: 1px solid #c7c7c7;
}

@keyframes btn-hover {
    100% {
        background-color: #000;
    }
}

/*QUESTIONS PAGE*/
.question-header,
.result-header {
    text-align: center;
}

.result-div-header {
    text-align: center;
    padding: 1rem 0 0 0;
}

.result-div {
    width: 80vw;
    margin: 4rem auto 0.5rem auto;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 2px 4px;
    color: #1f385c;
    border-radius: 4px;
}
.question-div {
    width: 80vw;
    margin: 4rem auto 0.5rem auto;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 2px 4px;
    color: #1f385c;
    padding: 0.1rem 0 0.1rem 0;
    border-radius: 4px;
}

.question-div input {
    display: block;
    width: 80%;
    height: 44px;
    margin: auto;
    border: 1px solid #1f385c;
    border-radius: 4px;
    font-size: 1.25rem;
}

.submit-btn {
    display: block;
    width: 80%;
    height: 44px;
    background-color: #1f385c;
    color: #fff;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem auto 1rem auto;
    font-size: 1rem;
    border-radius: 4px;
}
.submit-btn:hover:enabled {
    animation: btn-hover 1s ease-in alternate forwards;
}

.question-div p {
    text-align: center;
}

.result {
    display: flex;
}

.question {
    display: flex;
    width: 80vw;
    margin: 4rem auto;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 2px 4px;
    color: #1f385c;
    border-radius: 4px;
}

.question-quest-section,
.result-quest-section {
    width: 100%;
    padding: 0 0.75rem;
    margin: 0 0 0.75rem 0;
}
.question-quest-section form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.question-quest-section h4 {
    text-align: center;
}

.question-options,
.result-options {
    margin: 0 0 0.5rem 0;
    width: 100%;
    display: block;
}

.firstOption,
.secondOption {
    max-width: 15rem;
    margin: 1rem auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: 1px solid #1f385c;
    border-radius: 4px;
    position: relative;
}

.firstOption > p,
.secondOption > p {
    display: flex;
    justify-content: space-between;
}
/* VOTED STYLES */
.voted {
    max-width: 15rem;
    margin: 1rem auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: 1px solid #47a584;
    border-radius: 4px;
    position: relative;
    color: #47a584;
}
.voted > p {
    display: flex;
    justify-content: space-between;
}
/* still make changes */
.voted-icon-hidden {
    display: none;
}
.voted-icon {
    width: 50px;
    position: absolute;
    left: 90%;
    top: -15%;
    display: inline-block;
}

/* LEADERBOARD STYLES */
.leaderboard-header {
    text-align: center;
    padding: 0.5rem 0 0 0;
    margin: 0.5rem 0 0 0;
    color: rgb(220, 0, 78);
    font-size: 25px;
}
.leaderboard {
    margin-top: 5.5rem;
}
.leaderboard-div {
    width: 80vw;
    margin: 0.5rem auto 0.5rem auto;
    background-color: #1f385c;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 2px 4px;
    color: #fff;
    border-radius: 5px;
}
.leaderboard-inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
}
.leaderboard-image-section img {
    width: 100px;
    height: 100px;
    border: 1px solid #1f385c;
    border-radius: 40px;
}
.score {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(220, 0, 78);
    color: #fff;
    border-radius: 4px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.score > p {
    display: block;
    margin: 1rem;
}

/* MEDIA QUERIES */
@media (min-width: 640px) {
    .dashboard {
        width: 60vw;
    }
    .question,
    .result-div,
    .question-div,
    .leaderboard-div {
        max-width: 30rem;
    }
    .poll {
        display: flex;
    }
    .poll-image-section img,
    .result-image-section img {
        width: 150px;
        height: 150px;
        border: 1px solid #1f385c;
        border-radius: 40px;
        display: inline-block;
    }

    .poll-quest-section,
    .poll-image-section {
        width: 50%;
    }
    .poll-quest-section {
        padding-right: 1rem;
    }
    .poll-image-section {
        text-align: center;
        padding-bottom: 1rem;
    }
    .question-quest-section,
    .result-quest-section {
        width: 60%;
    }
    .question-image-section,
    .result-image-section {
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0.75rem;
    }
    .question-image-section {
        padding: 0.75rem;
    }
    .question-image-section img {
        display: inline-block;
        width: 150px;
        height: 150px;
        border: 1px solid #1f385c;
        border-radius: 40px;
        display: inline-block;
    }
}
